@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

.homeSlider{
    padding:30px 0px;
}
.homeslider_main{
    border-radius: 20px;
    overflow:hidden ;
}